* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: none;
  background: #ffffff;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}
.header__lists li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}
.header__lists {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__lists-list {
  border: 1px solid black;
  padding: 2px 7px;
  background-color: transparent;
  border-radius: 4px;
}
.header__lists li a:hover {
  color: blue;
  font-size: 16px;
  transition: all 0.1s linear;
}
.header__lists-list:hover {
  padding: 5px 15px;
  transition: all 0.2s linear;
  background-color: #e5e5e9;
}
.header__lists-select:hover {
  padding: 5px 15px;
  transition: all 0.2s linear;
  background-color: #e5e5e9;
}
.header__lists-select {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.header__lists-select option {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.container {
  background: #f4f8fa;
  display: flex;
  justify-content: center;
}
.container__box {
  text-align: center;
  width: 30%;
  background-color: #ffffff;
  width: 500px;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
    0px 4px 56px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 100px;
}
.container__box-logo {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: center;
  padding-top: 40px;
}
.container__box-text {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 16px;
  gap: 15px;
}
.container__box-text span {
  margin-top: 2px;
}
.container__box-text span a {
  text-decoration: none;
}
.container__box-email {
  display: flex;
  flex-direction: column;
}
.container__box-email label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-email input {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
}
.container__box-phone {
  display: flex;
  flex-direction: column;
}
.container__box-phone label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-phone input {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
}
.container__box-location {
  display: flex;
  justify-content: space-around;
}
.container__box-location-country {
  display: flex;
  flex-direction: column;
}
.container__box-location-country label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-location-country select {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 150px;
}
.container__box-location-city {
  display: flex;
  flex-direction: column;
}
.container__box-location-city label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-location-city input {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 150px;
}
.container__box-location-password label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-location-password input {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
  padding-top: 12px;
  letter-spacing: 1px;
}
.container__box-location-password {
  display: flex;
  flex-direction: column;
}
/* icon qoyish kere passwordga */
.container__box-location-Confirmation label {
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 50px;
}
.container__box-location-Confirmation input {
  padding: 8px 10px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #fb3838;
  border-radius: 6px;
  margin-bottom: 15px;
  padding-top: 12px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.container__box-location-Confirmation {
  display: flex;
  flex-direction: column;
}
button {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 9px;
  width: 80%;
  background: #01bab3;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 15px;
}
.container__box-location-Confirmation p {
  width: 83%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #778699;
  margin: 0 auto;
  margin-bottom: 40px;
}
.container__box-location-Confirmation p a {
  text-decoration: none;
}
